<div class="list-group-item">
    <mat-toolbar>
        <span>Welocme to Saravana Stories</span>
     </mat-toolbar>
    
</div>
<h1>Our Branches</h1>
<hr>

<ul class="list-group list-group-flush" >
    <li class="list-group-item">
        <h1>Chennai</h1>
        <h3>Usman Road</h3>
        <h5>600017</h5>
    </li>
    <li class="list-group-item">
        <h1>Chennai</h1>
        <h3>Ranganathan Street</h3>
        <h5>600017</h5>

    </li>
    <li class="list-group-item">
        <h1>Chennai</h1>
        <h3>Natesan Street</h3>
        <h5>600017</h5>
    </li>
    <li class="list-group-item">
        <h1>coimbatore</h1>
        <h3>Oppanakara Street</h3>
        <h5>641001</h5>
    </li>
    <li class="list-group-item">
        <h1>Madurai</h1>
        <h3>Tirupparankunram Main Road</h3>
        <h5>625003</h5>
    </li>
    <li class="list-group-item">
        <h1>Tirunelveli</h1>
        <h3>S Bypass Road</h3>
        <h5>627005</h5>
    </li>
  </ul>
